/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 19, 2023, 8:32:46 AM
    Author     : razic
*/

.in{
   text-align: center;
   background-color: aqua; 
}

.submit:hover{
    background: yellow;
    color: green;
}